
node_modules
.DS_Store
.vscode
__MACOSX
*/.DS_Store
.vscode
yarn-error.log
.cache
.idea

.temp
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/cache/deps
.vitepress/cache/deps/*
doc_build

# rust demo 忽略编译后的文件
**/rust/cargo_demo/**/target
# **/rust/demo/*
**/rust/demos/*
!docs/rust/demos/*.rs